image: docker.io/library/golang:1

workflow:
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_BRANCH == 'master'

stages:
  - test
  - build

test:
  stage: test
  cache:
    key:
      files:
      - go.sum
    paths:
      - .go/pkg/mod
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  script:
    - go version
    - go test -v -coverprofile .testCoverage.txt ./... 2>&1 | go run github.com/jstemmer/go-junit-report@latest -set-exit-code > test.xml
    - go tool cover -func=.testCoverage.txt
  artifacts:
    reports:
      junit: test.xml

build:
  stage: build
  cache:
    key:
      files:
      - go.sum
    paths:
      - .go/pkg/mod
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  script:
    - make
  artifacts:
    paths:
      - vmshed
    expire_in: 1 week
